<h1>AngularJS ToDo-List App</h1>

<h3>Neuen Eintrag hinzufügen:</h3>
<form>
    <input type="text" ng-model="newSubject" />
    <input type="submit" value="OK" ng-click="addItem(newSubject)" />
</form>

<h3>Noch zu erledigen:</h3>
<ul>
    <li ng-repeat="item in items | filter:{done:false}">
        <inline-item item="item"></inline-item>
    </li>
</ul>

<h3>Erledigt:</h3>
<ul>
    <li ng-repeat="item in items | filter:{done:true}">
        <inline-item item="item"></inline-item>
    </li>
</ul>